node_modules
.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
coverage
tests
test
.editorconfig
.eslintignore
.eslintrc.json
.lintstagedrc.json
.prettierignore
.prettierrc.json
.travis.yml
.husky
.github
docker-compose*.yml
Dockerfile
.dockerignore
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md
LICENSE
bin
ecosystem.config.json
jest.config.js
